.messages-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .mobile-button {
    border: none;
    cursor: pointer;
    padding: 0;
    background: transparent;
  }

  .messages-page-header {
    height: 60px;
    padding: 8px 8px 8px 20px;
    border-bottom: 1px solid #d9d9d9;
    .name-members {
      padding: 4px;
    }
    .name {
      font-size: 18px;
      font-weight: 900;
      margin-bottom: 0.25rem;
      @include media-breakpoint-down(sm) {
        font-size: 14px;
      }
    }
    .members {
      color: #9e9e9e;
      font-size: 12px;
      .user-icon:hover {
        color: #3c7db1;
        cursor: pointer;
      }
    }
  }

  .messages-list {
    height: calc(100% - 145px);
    overflow: auto;
    padding-bottom: 1rem;
  }

  .messages-list-component {
    position: relative;
    .message-buttons {
      position: absolute;
      right: 2rem;
      top: -0.75rem;
      opacity: 1;
      .btn {
        border: 1px solid #999999;
        color: #999999;
        background-color: #fff;
      }
      .btn:hover {
        color: #3c7db1;
        background-color: #f0f0f0;
      }
      .emoji-mart-container {
        position: absolute;
        &.render-top {
          bottom: 100%;
        }
        &.render-bottom {
          top: 100%;
        }
        right: 0;
        z-index: 100;
      }
    }
    p {
      margin-bottom: 0rem;
    }
    &.no-avatar {
      padding-left: 63px;
    }
    padding: 4px 20px;
    .message-avatar {
      height: 35px;
      width: 35px;
      border-radius: 3px;
      object-fit: scale-down;
      margin-right: 0.5rem;
      margin-top: 4px;
    }
    .username {
      font-weight: 700;
      color: #000;
    }
    .time {
      font-size: 12px;
      color: #6d6d6d;
    }
    .cancel-btn,
    .submit-btn {
      height: 32px;
      width: 100px;
      line-height: 0;
      font-size: 14px;
    }
    .cancel-btn {
      background-color: #ffffff;
      color: #666666;
      border: 1px solid #999999;
    }
    .cancel-btn:hover {
      background-color: #f0f0f0;
    }
    .editor-wrapper {
      background-color: #ffffff;
    }
    .reaction {
      padding: 2px;
      border-radius: 10px;
      background-color: #fafafa;
      font-size: 12px;
      &.user-reaction {
        background-color: #ebf6fb;
        border: 1px solid #5bb1db;
      }
      cursor: pointer;
    }
    .reaction:hover {
      border: 1px solid #666666;
      background-color: #fff;
      &.user-reaction {
        background-color: #ebf6fb;
        border: 1px solid #5bb1db;
      }
    }
  }
  .messages-list-component:hover {
    &.edit:hover {
      background-color: #fdf9ec;
    }
    background-color: #efefef;
  }
  .messages-list-component {
    &.edit {
      background-color: #fdf9ec;
    }
  }

  .messages-input-outer {
    padding: 0 1rem 1rem 1rem;
  }

  .editor-wrapper {
    border: 1px solid #999999;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
  }

  .editor {
    padding: 0 1rem;
  }

  .rdw-emoji-modal,
  .rdw-link-modal {
    top: inherit;
    left: inherit;
    bottom: 150%;
  }
  .detail-button {
    color: #666666;
    padding: 0.5rem;
    border-radius: 5px;
  }
  .detail-button:hover {
    background-color: #fafafa;
    cursor: pointer;
    text-decoration: none;
    color: #333333;
  }
  .search-input-button {
    padding: 4px 8px;
    border: 1px solid #999999;
    border-radius: 5px;
    width: 200px;
    color: #999999;
    text-align: left;
    margin-right: 1rem;
    background-color: #fff;
    @include media-breakpoint-down(sm) {
      padding: 0;
      border: none;
      width: initial;
      margin-right: 0.5rem;
    }
  }
  .search-input-button:hover {
    cursor: pointer;
    border: 1px solid #666666;
    color: #666666;
    @include media-breakpoint-down(sm) {
      padding: 0;
      border: none;
      width: initial;
      margin-right: 0.5rem;
    }
  }
  .search-input {
    border: none;
  }
  .clear {
    color: #999999;
  }
  .clear:hover {
    text-decoration: none;
  }
  .modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .search-feature {
    .search-query-dropdown {
      .search-button {
        border: none;
        padding: 8px 16px;
      }
      .search-button:hover {
        background: #1064a2;
        color: #fff;
        cursor: pointer;
      }
      .search-query {
        font-weight: 700;
        padding-left: 12px;
      }
    }
    .modal-body {
      padding: 8px 0;
      max-height: calc(100vh - 95px);
      overflow-y: auto;
    }
    .blank-input {
      padding: 8px 16px;
    }
    .search-result {
      width: 100%;
      margin-bottom: 1rem;
      padding: 0.5rem 0.75rem;
      background-color: #fafafa;
      border: 1px solid #cccccc;
      cursor: pointer;
      border-radius: 5px;
      em {
        background-color: #fae9b8;
        font-style: initial;
      }
    }
    .filter-avatar {
      height: 18px;
      width: 18px;
      object-fit: scale-down;
    }
    .column-header {
      margin-bottom: 1rem;
      font-weight: 700;
    }
    .filter-block {
      margin-bottom: 1rem;
    }
    .filter-title {
      color: #999999;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
  }
  @keyframes yellowfade {
    from {
      background: #fae9b8;
    }
    to {
      background: transparent;
    }
  }
  .message-highlight {
    animation: yellowfade 5s;
    animation-timing-function: ease-out cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .result-text {
    text-align: initial;
  }
}

.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  // &.first-date {
  //   margin: 0;
  // }
  font-size: 12px;
  color: #cccccc;
  position: relative;
  z-index: 0;
  .date-txt {
    background: #fff;
    padding: 0 15px;
    z-index: 2;
    position: relative;
    border: 1px solid #cccccc;
    border-radius: 10px;
    color: #666666;
  }
  hr {
    right: 0;
    // border: 1px solid #cccccc;
    // border-bottom: 0;
    margin: 0;
    margin-top: 1px;
    width: 100%;
    z-index: 1;
    position: absolute;
    color: #cccccc;
  }
}

.rdw-suggestion-dropdown {
  position: fixed;
  bottom: 100px;
  width: 50%;
  background-color: #f8f8f8;
  border: 1px solid #deddde;
  left: 30% !important;
  cursor: pointer;
  border-radius: 5px;
}

.rdw-suggestion-option {
  border: none;
}

.rdw-suggestion-option:hover,
.rdw-suggestion-option-active {
  background-color: #1064a2;
  color: #fff;
}

.alert-template {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #dddddd;
  border: 1px solid #999999;
  border-radius: 10px;
  width: 300px;
  padding: 1rem;
  .img-alert {
    width: 24px;
    height: 24px;
    object-fit: scale-down;
    margin-right: 1rem;
  }
  .close-btn {
    margin-left: 1rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #666666;
  }
}
