.messages-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  .messages-page-header {
    height: 60px;
    padding: 8px 8px 8px 20px;
    border-bottom: 1px solid #d9d9d9;
    .title {
      font-size: 18px;
      font-weight: 900;
      margin-bottom: 0.25rem;
    }
    .members {
      color: #9e9e9e;
      font-size: 12px;
      #user-icon {
        height: 12px;
      }
    }
  }
}
