.messages-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .messages-page-header {
    height: 60px;
    padding: 8px 8px 8px 20px;
    border-bottom: 1px solid #d9d9d9;
    .name {
      font-size: 18px;
      font-weight: 900;
      margin-bottom: 0.25rem;
    }
    .members {
      color: #9e9e9e;
      font-size: 12px;
      .user-icon:hover {
        color: #3c7db1;
        cursor: pointer;
      }
    }
  }

  .messages-list {
    height: calc(100% - 145px);
    overflow: auto;
  }

  .messages-list-component {
    position: relative;
    .message-buttons {
      position: absolute;
      right: 2rem;
      top: -0.75rem;
      opacity: 1;
      .btn {
        border: 1px solid #999999;
        color: #999999;
        background-color: #fff;
      }
      .btn:hover {
        color: #3c7db1;
        background-color: #f0f0f0;
      }
      .emoji-mart-container {
        position: absolute;
        &.render-top {
          bottom: 100%;
        }
        &.render-bottom {
          top: 100%;
        }
        right: 0;
        z-index: 100;
      }
    }
    p {
      margin-bottom: 0rem;
    }
    &.no-avatar {
      margin-left: 43px;
    }
    padding: 4px 20px;
    .message-avatar {
      height: 35px;
      width: 35px;
      border-radius: 3px;
      object-fit: contain;
      margin-right: 0.5rem;
      margin-top: 4px;
    }
    .username {
      font-weight: 700;
      color: #000;
    }
    .time {
      font-size: 12px;
      color: #6d6d6d;
    }
    .cancel-btn,
    .submit-btn {
      height: 32px;
      width: 100px;
      line-height: 0;
      font-size: 14px;
    }
    .cancel-btn {
      background-color: #ffffff;
      color: #666666;
      border: 1px solid #999999;
    }
    .cancel-btn:hover {
      background-color: #f0f0f0;
    }
    .editor-wrapper {
      background-color: #ffffff;
    }
    .reaction {
      padding: 3px;
      border-radius: 10px;
      border: 1px solid #666666;
      background-color: #fafafa;
      font-size: 12px;
      &.user-reaction {
        background-color: #ebf6fb;
      }
    }
  }
  .messages-list-component:hover {
    &.edit:hover {
      background-color: #fdf9ec;
    }
    background-color: #efefef;
  }
  .messages-list-component {
    &.edit {
      background-color: #fdf9ec;
    }
  }

  .messages-input-outer {
    padding: 0 1rem 1rem 1rem;
  }

  .editor-wrapper {
    border: 1px solid #999999;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
  }

  .editor {
    padding: 0 1rem;
  }

  .rdw-emoji-modal,
  .rdw-link-modal {
    top: inherit;
    left: inherit;
    bottom: 150%;
  }
  .detail-button {
    color: #666666;
    padding: 0.5rem;
    border-radius: 5px;
  }
  .detail-button:hover {
    background-color: #fafafa;
    cursor: pointer;
    text-decoration: none;
    color: #333333;
  }
  .search-input-button {
    padding: 4px 8px;
    border: 1px solid #999999;
    border-radius: 5px;
    width: 200px;
    color: #999999;
    text-align: left;
  }
  .search-input-button:hover {
    cursor: pointer;
    border: 1px solid #666666;
    color: #666666;
  }
  .search-input {
    border: none;
  }
  .clear {
    color: #999999;
  }
  .clear:hover {
    text-decoration: none;
  }
  .modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  // &.first-date {
  //   margin: 0;
  // }
  font-size: 12px;
  color: #cccccc;
  position: relative;
  z-index: 0;
  .date-txt {
    background: #fff;
    padding: 0 15px;
    z-index: 2;
    position: relative;
    border: 1px solid #cccccc;
    border-radius: 10px;
    color: #666666;
  }
  hr {
    right: 0;
    // border: 1px solid #cccccc;
    // border-bottom: 0;
    margin: 0;
    margin-top: 1px;
    width: 100%;
    z-index: 1;
    position: absolute;
    color: #cccccc;
  }
}
