// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  justify-content: space-between;
}

.login-input {
  border: 1px solid #333333;
}

.input-width {
  padding: 8px 12px;
  width: 75%;
  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}

.login-link {
  font-weight: 700;
}
