.sidebar {
  width: 220px;
  background-color: #3f0e40;
  color: #fff;
  height: 100%;
  a {
    color: #fff;
  }
  a:hover {
    color: #fff;
    text-decoration: none;
  }

  .account {
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1rem;
    position: relative;
    .username {
      color: #9b829b;
    }
    .account-dropdown {
      position: absolute;
      top: 100%;
      background-color: #f8f8f8;
      color: #333333;
      width: 300px;
      border: 1px solid #999999;
      border-radius: 0.25rem;
    }
    .header-button {
      color: #333333;
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
    }
    .header-button:hover {
      color: #333333;
      text-decoration: none;
      background-color: #999999;
    }
  }

  .account:hover {
    cursor: pointer;
  }

  .channel-list {
    margin-bottom: 1rem;
    .heading {
      color: #bdacbe;
      padding: 2px 1rem;
      font-weight: bold;
    }
    .channel-list-link {
      padding: 2px 1rem;
      color: #cec2ec;
      &.active {
        color: #dbecf1;
        background: #1064a2;
      }
    }
  }
}
