.sidebar {
  width: 220px;
  background-color: #3f0e40;
  color: #fff;
  height: 100%;
  a {
    color: #fff;
  }
  a:hover {
    color: #fff;
    text-decoration: none;
  }

  .account {
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1rem;
    position: relative;
    .app-name {
      font-weight: 900;
    }
    .username {
      color: #9b829b;
    }
    .account-avatar {
      height: 1.75rem;
      width: 1.75rem;
      margin-right: 0.5rem;
      border-radius: 3px;
      object-fit: contain;
      margin-bottom: 0.5rem;
    }
    .account-dropdown {
      position: absolute;
      top: 100%;
      background-color: #f8f8f8;
      color: #333333;
      width: 300px;
      border: 1px solid #999999;
      border-radius: 0.25rem;
      z-index: 10;
      cursor: default;
    }
    .header-button {
      color: #333333;
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
    }
    .header-button:hover {
      color: #ffffff;
      text-decoration: none;
      background-color: #1064a2;
      cursor: pointer;
    }
  }

  .account:hover {
    cursor: pointer;
  }

  .channel-list {
    margin-bottom: 1rem;
    .heading {
      color: #bdacbe;
      padding: 2px 1rem;
      font-weight: bold;
    }
    .channel-list-link {
      padding: 2px 1rem;
      color: #cec2ec;
      &.active {
        color: #dbecf1;
        background: #1064a2;
      }
    }
    .dropdown-menu {
      background-color: #f8f8f8;
      .dropdown-item {
        color: #333333;
      }
      .dropdown-item:hover {
        background: #1064a2;
        color: #ffffff;
      }
    }
    .add-button:hover {
      cursor: pointer;
      color: #cccccc;
    }
  }
  #Modal {
    color: #333333;
  }
}

.right-sidebar {
  width: 392px;
  @include media-breakpoint-down(lg) {
    width: 337px;
  }
  height: 100%;
  border-left: 1px solid #d9d9d9;
  h6 {
    margin-bottom: 0;
    font-weight: 900 !important;
  }
  .title {
    height: 60px;
    padding: 8px 8px 8px 20px;
    border-bottom: 1px solid #d9d9d9;
    font-weight: 900;
  }
  .close:hover {
    cursor: pointer;
  }

  .action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    .add-user-btn {
      padding: 0.5rem;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #333333;
      background-color: #eeeeee;
    }
    .add-user-btn:hover {
      background-color: #dddddd;
      border-radius: 50%;
      cursor: pointer;
      color: #333333;
    }
  }
  .tab {
    .fas {
      color: #999999;
      margin-top: 0.25rem;
    }
  }
  .title-tab {
    font-weight: 700;
  }
  .title-tab:hover {
    cursor: pointer;
  }
  .member-avatar {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    border-radius: 3px;
    object-fit: contain;
  }
}
