/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
// custom variables
$green: #007a5a;
$purple: #3f0e40;
$indigo: #611f69;
@import 'bootstrap';
.btn-primary {
  @include button-variant(
    $green,
    darken($green, 7.5%),
    darken($green, 10%),
    lighten($green, 5%),
    lighten($green, 10%),
    darken($green, 30%)
  );
}
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
@import './react-draft-wysiwyg.scss';
@import './react-toggle.scss';
@import './emoji-mart.scss';
@import './api/sessions.scss';
@import './api/users.scss';
@import './api/sidebar.scss';
@import './api/messages.scss';
@import './api/forms.scss';

html {
  height: 100%;
}

main {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.main-content-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.dropdown-toggle::after {
  content: none;
}

.modal-header {
  font-weight: 700;
}

.green {
  color: #2cac75;
}

.flex-1 {
  flex: 1;
}

.alert-link {
  color: inherit;
  text-decoration: none;
}

.alert-link:hover {
  text-decoration: none;
  color: inherit;
}

// loader
.loading-title {
  font-weight: 900;
  margin-bottom: 2rem;
}

.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #007a5a;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}

.create-channel-link {
  color: #007bff !important;
}

.create-channel-link:hover {
  color: #0056b3 !important;
  text-decoration: underline !important;
}
